<form [formGroup]="boardForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <input
            [ngClass]="{'is-invalid': boardForm.controls['name'].invalid && (boardForm.controls['name'].dirty || boardForm.controls['name'].touched) }"
            class="form-control" type="text" formControlName="name" #name>

        <span class="invalid-feedback"
            *ngIf="boardForm.controls['name'].invalid && (boardForm.controls['name'].dirty || boardForm.controls['name'].touched)">
            Board name is required.
        </span>
    </div>
    <div class="form-group">
        <textarea rows="5" class="form-control" formControlName="description" #description></textarea>
    </div>
    <div class="form-group">
        <input class="mr-1 accent-1" type="radio" value="accent-1" formControlName="color">
        <input class="mr-1 accent-2" type="radio" value="accent-2" formControlName="color">
        <input class="mr-1 accent-3" type="radio" value="accent-3" formControlName="color">
        <input class="mr-1 accent-4" type="radio" value="accent-4" formControlName="color">
        <input class="mr-1 accent-5" type="radio" value="accent-5" formControlName="color">
    </div>
    <button type="submit" class="btn btn-primary mr-2"
        [disabled]="boardForm.pristine || boardForm.invalid">Save</button>
    <button class="btn btn-secondary" (click)="cancelEdit()">Cancel</button>
</form>