.list-item {
    padding: 1.5rem;
    margin: 1.5rem;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

.add-item {
    border: 1px dashed #343a40;
}