<div *ngFor="let board of boards" [ngClass]="['list-item ', board.color]">
    <ng-container *ngIf="isBeingEdited.has(board.id); then form; else detail"></ng-container>
    <ng-template #form>
        <app-board-form [board]="board" (save)="saveBoard($event)" (cancel)="cancelEdit($event)"></app-board-form>
    </ng-template>
    <ng-template #detail>
        <app-board-detail [board]="board" (edit)="editBoard($event)" (delete)="deleteBoard($event)">
        </app-board-detail>
    </ng-template>
</div>
<div class="list-item add-item">
    <button class="btn btn-outline-secondary">+</button>
</div>