<div class="row">
    <div class="col-md-3 border border-primary bg-light p-3 m-3 rounded" *ngFor="let tile of tiles">
        <app-dashboard-tile [tile]="tile"></app-dashboard-tile>
    </div>
    <div class="col-md-3 border border-primary bg-light p-3 m-3 rounded text-center">
        <button class="btn btn-outline-secondary">+</button>
    </div>
</div>