/* You can add global styles to this file, and also import other style files */
.accent-1 {
    background-color: rgba(89,51,184,0.2);
    border-color: rgb(89,51,184)!important;
}
.accent-2 {
    background-color: rgba(184,70,141,0.2);
    border-color: rgb(184,70,141)!important;
}
.accent-3 {
    background-color: rgba(72,140,184,0.2);
    border-color: rgb(72,140,184)!important;
}
.accent-4 {
    background-color: rgba(50,184,37,0.2);
    border-color: rgb(50,184,37)!important;
}
.accent-5 {
    background-color: rgba(184,114,17,0.2);
    border-color: rgb(184,114,17)!important;
}