<div class="d-flex flex-row">
    <div class="w-100">
        <h1><a [routerLink]="['/dashboard', board.id]">{{ board.name }}</a></h1>
    </div>
    <div class="flex-shrink-1">
        <button class="btn btn-secondary" (click)="editBoard()">edit</button>
    </div>
    <div class="flex-shrink-1">
        <button class="btn btn-danger" (click)="deleteBoard()">delete</button>
    </div>
</div>
<div>
    <p>{{ board.description }}</p>
</div>
<div>
    <img *ngFor="let icon of board.icons" [src]="icon" width="80" height="80" class="mr-2 mb-2 img-thumbnail">
</div>